extends layout
block content
    .content
        h1(style="font-size: 18px;margin-top: 3em;border-bottom: solid 1px #ccc;padding-bottom: 5px;") 重置密码
        -if(locals.err)
            p(style="margin-top:3em;text-align:center;") #{err}
        -else
            form(method="post",id="resetPass",name="forgetData",action="/forgetpass/activation",style="margin-top:5em;")
                ul
                    li
                        label 请输入新密码：
                        input(type="password",name="password",style="width:13.5em;")
                    li
                        label 再次输入新密码：
                        input(type="password",name="password1",style="width:13.5em;")
                div.send_btn
                    input(type="hidden",name="email",value="#{email}")
                    input(type="hidden",name="uuid",value="#{uuid}")
                    input(type="hidden",name="current",value="#{current}")
                    button#sendForgetData.btn(type="submit",style="margin-left:5px;") 确定
                    -if(locals.error)
                        span.alert.alert-error(style="margin-left: 10px;") #{error}
            style.
                #resetPass li{
                    margin-bottom: 2em;
                }
                #resetPass li label{
                    display:inline-block;
                    width:420px;
                    text-align: right;
                }
                div.send_btn{
                    padding-left:416px;
                }