extends layout
block content
    div.content(style="padding:3em 0;")
        div.sort_t 查看：
            select#select_sort.select
                option 请选择分类
                -if(sorts)
                    each item in sorts
                        option(value="#{item.sorttxt}") #{item.sorttxt}
                option(value="all") 全部
        div#sort_box.sort_box.archive_list

            //-
                h1
                ul
                    -posts.forEach(function(post,index){
                        li
                            a(href="/article/#{post._id}",title="#{post.title}") #{post.title}
                            span #{post.time.minute}
                    -})
