div#userCenterBox.userCenter_box
    h1.userCenter_title 个人资料
    div#userCenterData.userCenter_data
        dl.basic_link
            dt.menu_basic.on 基本资料
            dd(style="display:block;")
                form(method="post",id="basicData",name="basicData",action="/new_version/basicData/upload")
                    if(!!user && !!user.basicData)
                        input(type="hidden",name="name",id="name",value="#{user.name}")
                        input(type="hidden",name="addressHome",id="addressHome",value="#{user.basicData.addressHome}")
                        input(type="hidden",name="addressReside",id="addressReside",value="#{user.basicData.addressReside}")
                        ul.ui_ul_input
                            li.user_name
                                label 用户名：
                                span #{user.name}
                            li.user_sex
                                label 性别：
                                label.sex_man_txt
                                    if(!!user.basicData.sex && user.basicData.sex == '男')
                                        input(type="radio",name="sex",value="男",checked="checked")
                                    else
                                        input(type="radio",name="sex",value="男")

                                    |男
                                label.sex_man_txt
                                    if(!!user.basicData.sex && user.basicData.sex == "女")
                                        input(type="radio",name="sex",value="女",checked="checked")
                                    else
                                        input(type="radio",name="sex",value="女")

                                    |女
                                div.msg_txt
                            li.user_birthday
                                label 生日：
                                if(!!user.basicData.birthday)
                                    input#birthday.birthday(type="text",name="birthday",value="#{user.basicData.birthday}")
                                else
                                    input#birthday.birthday(type="text",name="birthday")
                                div.msg_txt
                            li.hometown
                                label 出生地：
                                div#hometown.citysele
                                    select.hometownCity_txt.select.prov
                                div.msg_txtreside
                            li.reside
                                label 居住地：
                                div#reside.citysele
                                    select.resideCity_txt.select.prov
                                div.msg_txt
                            li.user_intro.clearfix
                                label.lfloat 个人简介：
                                if(!!user.basicData.intro)
                                    textarea#userIntro.userIntro_txt(name="intro") #{user.basicData.intro}
                                else
                                    textarea#userIntro.userIntro_txt(name="intro")
                                div.msg_txt
                        div.send_msg 数据保存中
                            img(style="vertical-align: middle;height:3px",src="/images/ajax-loader.gif",alt="")
                        div.form_actions
                            button#sendBasicData.btn(type="submit") 保&nbsp;存
                    else
                        input(type="hidden",name="name",id="name",value="#{user.name}")
                        input(type="hidden",name="addressHome",id="addressHome")
                        input(type="hidden",name="addressReside",id="addressReside")
                        ul.ui_ul_input
                            li.user_name
                                label 用户名：
                                span #{user.name}
                            li.user_sex
                                label 性别：
                                label.sex_man_txt
                                    input(type="radio",name="sex",value="男")
                                    |男
                                label.sex_man_txt
                                    input(type="radio",name="sex",value="女")
                                    |女
                                div.msg_txt
                            li.user_birthday
                                label 生日：
                                input#birthday.birthday(type="text",name="birthday")
                            li.hometown
                                label 出生地：
                                div#hometown.citysele
                                    select.hometownCity_txt.select.prov
                                    select.hometownOpt1_txt.select
                                        option 请选择
                                div.msg_txtreside
                            li.reside
                                label 居住地：
                                div#reside.citysele
                                    select.resideCity_txt.select.prov
                                    select.resideOpt1_txt.select
                                        option 请选择
                                div.msg_txt
                            li.user_intro.clearfix
                                label.lfloat 个人简介：
                                textarea#userIntro.userIntro_txt(name="intro")
                                div.msg_txt
                        div.send_msg 数据保存中
                            img(style="vertical-align: middle;height:3px",src="/images/ajax-loader.gif",alt="")
                        div.form_actions
                            button#sendBasicData.btn(type="submit") 保&nbsp;存

        dl.education_link
            dt.menu_education 教育背景
            dd
                form(method="post",id="educationData",name="educationData",action="/new_version/educationData/upload")
                    input(type="hidden",name="name",id="name",value="#{user.name}")
                    div.education_list.clearfix
                        div.school_sort.lfloat
                            div.schoolSort_t 学校类型
                            select#schoolSort.schoolSort_m.select(name="schoolSort")
                                option 请选择
                                option 大学
                                option 高中
                                option 初中
                                option 小学
                                option 其他
                        div.school_name.lfloat
                            div.schoolName_t 学校名称
                            input#schoolName.schoolName_m(type="text",name="schoolName")
                        div.school_year.lfloat
                            div.schoolYear_t 入学年份
                            select#schoolYear.schoolYear_m.select(name="schoolYear")
                                option 请选择
                                -var currentY = new Date().getFullYear();
                                -var Y = currentY - 130;
                                -for(;Y <= currentY;currentY--){
                                    option #{currentY}
                                -}
                        div.form_actions
                            button#sendEducationData.btn(type="submit") 保&nbsp;存
        dl.work_link
            dt.menu_work 工作信息
            dd
                form(method="post",id="workData",name="workData",action="/new_version/workData/upload")
                    input(type="hidden",name="name",id="name",value="#{user.name}")
                    div.work_list.clearfix
                        div.work_company.lfloat
                            div.workCompany_t 工作单位：
                            input#workCompany.workCompany_m(type="text",name="workCompany")
                        div.work_time.lfloat
                            div.workTime_t 工作时间：
                            input#fworkTime.workTime(type="text",name="fworkTime")
                            |_&nbsp;&nbsp;
                            input#tworkTime.workTime(type="text",name="tworkTime")
                        div.form_actions
                            button#sendWorkData.btn(type="submit") 保&nbsp;存
        dl.head_link
            dt.menu_head 头像设置
            dd
                form(method="post",id="headData",name="headData",action="/new_version/headico/upload",enctype="multipart/form-data")
                    input(type="hidden",name="name",id="name",value="#{user.name}")
                    input(type="hidden",name="x1",id="x1")
                    input(type="hidden",name="y1",id="y1")
                    input(type="hidden",name="x2",id="x2")
                    input(type="hidden",name="y2",id="y2")
                    input(type="hidden",name="w",id="w")
                    input(type="hidden",name="h",id="h")
                    div.clearfix
                        div.current_head.lfloat
                            p 当前头像
                            div.currentHead_ico
                                div.currentHeadIco_show
                                    -if(!!user && !!user.headIco){
                                        img(src="#{user.headIco}")
                                    -}else{
                                        img(src="/images/head.gif")
                                    -}
                            div.new_head
                                p 新头像预览
                                div#newHeadIco.newHead_ico
                                    div#newHeadIcoShow.newHeadIco_show
                                        -if(!!user && !!user.headIco){
                                            img#newHeadImg(src="#{user.headIco}")
                                        -}else{
                                            img#newHeadImg(src="/images/head.gif")
                                        -}

                                div#newHeadMsg
                                    |实际宽：
                                    span.newHeadMsg_w
                                    |高：
                                    span.newHeadMsg_h
                        div.set_head
                            p 设置新头像
                            p.setHead_tip 支持jpg、gif、png&nbsp;或&nbsp;bmp格式,可以在大照片中剪裁满意的部分
                            div.setHead_box
                                div.file_btn
                                    button.btn.selectImg 选择图片
                                    input#setHeadIco.imitate(name="setHeadIco",type="file")
                                div.show_head
                                    -if(!!user && !!user.headIco){
                                        img(id="clipHead",src="#{user.headIco}")
                                    -}else{
                                        img(id="clipHead",src="/images/head.gif")
                                    -}
                                div.update
                                    button#sendImg.btn(type="submit") 保存头像
        dl.password_link
            dt.menu_password 修改密码
            dd
                form(method="post",id="passData",name="passData",action="/new_version/change/password")
                    input(type="hidden",name="name",id="name",value="#{user.name}")
                    ul.ui_ul_input
                        li.old_password
                            label 旧密码：
                            input#oldPassword.oldPassword(type="password",name="oldPassword")
                        li.new_password
                            label 新密码：
                            input#newPassword.newPassword(type="password",name="newPassword")
                        li.new_password
                            label 确认新密码：
                            input#newPassword1.newPassword1(type="password",name="newPassword1")
                    div.send_msg 数据保存中
                        img(style="vertical-align: middle;height:3px",src="/images/ajax-loader.gif",alt="")
                    div.form_actions
                        button#sendPassData.btn(type="submit") 保&nbsp;存
        dl.email_link
            dt.menu_email 修改邮箱
            dd
                form(method="post",id="emailData",name="emailData",action="/new_version/change/email")
                    input(type="hidden",name="name",id="name",value="#{user.name}")
                    ul.ui_ul_input
                        li.old_email
                            label 当前邮箱：
                            span #{user.email}
                        li.new_email
                            label 新邮箱：
                            input#newEmail.newEmail(type="text",name="newEmail")
                    div.send_msg 数据保存中
                        img(style="vertical-align: middle;height:3px",src="/images/ajax-loader.gif",alt="")
                    div.form_actions
                        button#sendEmailData.btn(type="submit") 保&nbsp;存